/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

@media screen and (max-width: 1024px){

body, img, p {
width: 100%;
}

body {
width: 75%;
background-image:
  linear-gradient(to bottom, rgb(255, 255, 255), 20%, rgba(243, 243, 243, 0)),
  linear-gradient(90deg, rgba(215, 214, 253, 0.895) 10%, rgba(255, 255, 255, 0) 80%)
}


main {
font-family: 'Playfair Display', serif;
display: flex;
flex-direction: column;
align-items: center;
text-align: left;
gap: 35px;
padding: 40px;
}

main h1{
font-size: 2.5rem;
margin: 0 auto;
text-align: center;
line-height: 3rem;
padding: 0 20px;
}

main div {
 display: flex;
}

main ul {
display: flex;
}

 .hidden {
display: none;
}

header ul {
display: flex;
flex-direction: row;
justify-content: flex-end;
gap: 25px;
padding: 25px 25px 0 0;
}

main {
display: flex;
flex-direction: column;
justify-content: center;
}

div input {
border: 1px solid rgb(197, 196, 196);
border-radius: 6px 0 0 6px;
border-right: none;
}

div button {
border: none;
background: rgb(255, 145, 0);
border-radius: 0 6px 6px 0;
color: white;
font-family: 'Nunito Sans';
padding: 12px 20px 12px 12px;
}

div button i {
position: relative;
left: 8px;
bottom: 2px;
}

main div input, main div button{
-webkit-box-shadow: 0px 24px 50px -17px rgba(0,0,0,0.5); 
box-shadow: 0px 24px 50px -17px rgba(0, 0, 0, 0.778);
}

main ::placeholder {
font-family: 'nunito sans';
padding-left: 10px;
font-size: 1rem;
}

main ul {
display: flex;
gap: 25px;
}

main ul li {
display: flex;
gap: 10px;
align-items: center;
font-family: 'nunito sans';
font-size: 1rem;
}

main ul li span {
  display: flex;
  align-items: center;
}

main ul li i {
font-size: 1.5rem;
color: rgb(255, 145, 0);
}

/*****************
MOBILE SECOND PAGE
*****************/

.aboutUs {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 50px;
}

.rightBackground {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0 25px 0 25px;
}

.rightBackground h1 {
font-family: verdana;
color: orange;
font-size: 1.25rem;
font-family: 'Nunito', sans-serif;
margin: 0 auto;
}

.rightBackground h2 {
  font-family: 'Yeseva One', cursive;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.rightBackground p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0 auto;
}

.rightBackground button {
  padding: 20px;
  border-radius: 12px;
  border: none;
  background: rgb(255, 115, 0);
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
}

.rightBackground button i {
  margin-left: 20px;
}

.orderOnline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}

.orderOnline h1 {
  color: orange;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
}

.orderOnline h2 {
  font-size: 2rem;
  font-family: 'Yeseva One', cursive;
}

.orderOnline nav {
  width: 40%;
  padding-top: 10px;
}

.orderOnline ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-family: 'quicksand';
}



.orderOnline ul li a {
  text-decoration: none;
  border-bottom: 1px solid gray;
  padding: 10px;
  color: black;
  font-size: 0.8rem;
}

header ul li a:hover{
  color: orange;
}

.orderOnline ul li a:hover {
  color: orange;
  border-bottom: 1px solid orange;
}

.eightImages {
  padding-bottom: 0px;
  margin-top: 20px;
  width: 90%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
 }

.eightImages div {
  width: 45%;
  height: 150px;
  filter: contrast(5px);
  margin: 5px;
  border-radius: 12px;
}

.one{
background-image: url(.restPics/food0.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.two{
background-image: url(.restPics/food1.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.three{
background-image: url(./restPics/food2.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.four{
background-image: url(./restPics/food3.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.five{
background-image: url(./restPics/food4.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.six{
background-image: url(./restPics/food5.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.seven{
background-image: url(./restPics/food6.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.eight{
background-image: url(./restPics/food7.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.orange {
  width: 8px;
  height: 8px;
  background: rgb(255, 218, 149);
  border-radius: 100%;
  margin: 10px;
  }
  
  .orangeBig {
    width: 12px;
    height: 12px;
    background: rgb(255, 145, 0);
    border-radius: 100%;
    margin: 10px;
    position: relative;
    bottom: 3px;
  }
  
  .orangeDots {
    display: flex;
    flex-direction: row;
}

/**************
BOOK TABLE
**************/
.bookTable {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bookTable h1 {
  font-family: 'nunito';
  font-size: 1.4rem;
  color: orange;
}

.bookTable h2 {
  font-family: 'Yeseva One', cursive;
  font-size: 1.4rem;
  
}

.bookTable .hidden {
  width: 100px;
  display: none;
  
}

.bookTable span {
  font-size: 0.8rem;
  font-family: 'nunito';
}

.bookTable .secondSpam {
  color: orange;
  font-family: 'yeseva one', cursive;
  font-size: 1.4rem;
}

.bookTable .dates {
  display: flex;
}

.dates {
  display: flex; 
  align-items: center;
  padding-left: 25px;
}

.dates div {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 10px;
  align-items: left;
}

.dates div span {
  font-size: 0.8rem;
  gap: 30px;
  padding: 0 20px;
}

.dates div span + span {
  font-size: 0.8rem;
  font-family: 'yeseva one', cursive;
  gap: 30px;
  padding: 0 20px;
}

.bookTable .fruitBowl {
  width: 85%;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.096);
  margin: 10px;
}  

/********* TESTIMONIALS **********/

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.testimonials h1 {
  color: rgb(255, 136, 0);
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
}

.testimonials h2 {
  font-size: 2rem;
  font-family: 'yeseva one', cursive;
}

.testimonials img {
  width: 120px;
  border-radius: 50%;
}

.testimonials h6 {
  font-size: 1.25rem;
  font-family: 'nunito';
}

.testimonials span {
  font-size: 1rem;
  font-family: 'nunito', sans-serif;
  color: gray;
}

.testimonials div i {
  color: orange;
  font-size: 20px;
}

.orangeDotsSecond {
  display: flex;
}

.bottomThree {
  width: 10px;
  height: 10px;
  position: relative;
  background: rgb(255, 115, 0);
  margin-bottom: 40px;
}

.testimonials p {
  width: 80%;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'nunito';
  font-style: italic;
  color: rgb(27, 27, 27);
}

footer{
display: none;
}


}



@media screen and (min-width: 1024px){

/******************************************
/* HEADER
/*******************************************/

.backgroundWrap {
  background-image:
  linear-gradient(to bottom, rgb(255, 255, 255), 20%, rgba(243, 243, 243, 0)),
  linear-gradient(90deg, rgba(215, 214, 253, 0.801) 0%, rgba(255, 255, 255, 0) 40%),
  url(/restPics/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 100vh;
}

header {
  padding: 30px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

header nav ul li {
  margin: 0 2.2%;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  
  }
 
header nav ul li i {
  font-size: 26px;
}

main {
  width: 100%;
  height: 100vh;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 12% 0 0 10%;
  
}

main h1 {
  font-size: 68px;
  line-height: 80px;
  max-width: 35%;
}

div input {
  width: 450px;
  height: 50px;
  border: 1px solid rgb(197, 196, 196);
  border-radius: 10px 0 0 10px;
  border-right: none;
}

div button {
  width: 150px;
  height: 50px;
  border: none;
  background: rgb(255, 145, 0);
  border-radius: 0 10px 10px 0;
  color: white;
  font-family: 'Nunito Sans';
  position: relative;
  bottom: 2px;

}

div button i {
  position: relative;
  left: 8px;
  bottom: 2px;
}

main div input, main div button{
  -webkit-box-shadow: 0px 24px 50px -17px rgba(0,0,0,0.5); 
  box-shadow: 0px 24px 50px -17px rgba(0,0,0,0.5);
  
}



main ul {
  display: flex;
  
}

main ul li {
  
  margin-right: 90px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: 'nunito sans';
  font-size: 18px;
}

main ul li i {
  
  font-size: 20px;
  color: rgb(255, 145, 0);
  
}

main ::placeholder {
  font-family: 'nunito sans';
  padding-left: 20px;

}


/******************************************
/* SECOND PAGE // ABOUT US
/*******************************************/

.aboutUs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutUs section {
  
  height: 100vh;  
}

.leftBackground {
  width: 40%;
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.978) 95%),
  url(./restPics/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.rightBackground {
  width: 60%;
  background-image: 
  linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.815) 50%, rgba(255, 255, 255, 0) 69%, rgba(255,255,255,0) 100%),
  url(./restPics/img3.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10% 20% 10% 5%;
  
}

.rightBackground h1 {
  font-family: verdana;
  color: orange;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;;
}

.rightBackground h2 {
  font-family: 'Yeseva One', cursive;
  font-size: 64px;
  line-height: 72px;
}

.rightBackground p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.rightBackground button {
  padding: 20px;
  border-radius: 12px;
  border: none;
  background: rgb(255, 115, 0);
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.rightBackground button i {
  margin-left: 20px;
}

/******************************************
/* ORDER ONLINE NOW SECTION
/*******************************************/


.orderOnline {
  display: flex;
  flex-direction: column;
  height: 120vh;
  align-items: center;
  gap: 25px;
  margin-top: 80px;
}

.orderOnline h1 {
  color: orange;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}

.orderOnline h2 {
  font-size: 66px;
  font-family: 'Yeseva One', cursive;
}

.orderOnline nav {
  
  width: 40%;
  margin-top: 50px;
}

.orderOnline ul {
  display: flex;
  flex-direction: row;
    width: 100%;
  justify-content: space-evenly;
  font-family: 'quicksand';
}



.orderOnline ul li a {
  text-decoration: none;
  border-bottom: 1px solid gray;
  width: 200px;
  padding: 25px 50px;
  color: black;
  font-size: 22px;
}

header ul li a:hover{
  color: orange;
}

.orderOnline ul li a:hover {
  color: orange;
  border-bottom: 1px solid orange;
}

.eightImages {
  padding-bottom: 0px;
  margin-top: 100px;
  width: 80%;
  height: 100%;
  display: flex;
  gap: 50px 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.eightImages div {
  width: 22%;
  height: 70%;
  filter: contrast(5px)
}

.one{
background-image: url(./restPics/food0.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  
  
}

.two{
background-image: url(./restPics/food1.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  
}

.three{
background-image: url(./restPics/food2.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  
}

.four{
background-image: url(./restPics/food3.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  
}

.five{
background-image: url(./restPics/food4.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  
}

.six{
background-image: url(./restPics/food5.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  
}

.seven{
background-image: url(./restPics/food6.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  
}

.eight{
background-image: url(./restPics/food7.png); 
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  
}



.orange {
width: 10px;
height: 10px;
background: rgb(255, 218, 149);
border-radius: 100%;
margin: 300px 10px 10px 10px;
}

.orangeBig {
  width: 16px;
  height: 16px;
  background: rgb(255, 145, 0);
  border-radius: 100%;
  margin: 300px 10px 10px 10px;
  position: relative;
  bottom: 3px;
}

.orangeDots {
  display: flex;
  flex-direction: row;
  
}

.bookTable {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bookTable h1 {
  font-family: 'nunito';
  font-size: 20px;
  color: orange;
}

.bookTable h2 {
  font-family: 'Yeseva One', cursive;
  font-size: 60px;
  margin-bottom: 30px;
}

.bookTable img {
  width: 100px;
  
}

.bookTable span {
  font-size: 20px;
  font-family: 'nunito';
}

.bookTable .secondSpam {
  color: orange;
  font-family: 'yeseva one', cursive;
  font-size: 30px;
}

.bookTable .dates {
  
  display: flex;
  gap: 200px;
  margin: 20px 0 50px 0;
}

.dates div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
}

.dates div span + span {
  font-size: 26px;
  font-family: 'yeseva one', cursive;
}

.bookTable .fruitBowl {
  width: 40%;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.096);
}

/******************************************
/* TESTIMONIALS
/*******************************************/

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
}

.testimonials h1 {
  color: rgb(255, 136, 0);
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.testimonials h2 {
  font-size: 60px;
  font-family: 'yeseva one', cursive;
  margin-bottom: 30px;
  margin-bottom: 50px;
}

.testimonials img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;

}

.testimonials h6 {
  font-size: 30px;
  font-family: 'nunito';
  
}

.testimonials span {
  font-size: 18px;
  font-family: 'nunito', sans-serif;
  color: gray;
}

.testimonials div i {
  color: orange;
  font-size: 20px;

  
}

.testimonials div {
  margin: 25px;
}

.orangeDotsSecond {
  display: flex;

}

.bottomThree {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 5px;
  background: rgb(255, 115, 0);
}

.testimonials p {
  width: 50%;
  font-size: 24px;
  
  text-align: center;
  line-height: 42px;
  font-family: 'nunito';
  font-style: italic;
  color: rgb(27, 27, 27);
}

/******************************************
/* FOOTER
/*******************************************/

footer {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  
  background: rgba(242,246,247,255);
}


.topFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.topFooter section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 50px;
  width: 20%;
  
}

.topFooter h1 {
  font-family: 'yeseva one', cursive;
  font-size: 34px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.topFooter p {
  font-family: 'quicksand';
}

.topFooter span {
  text-decoration: underline;
  color: rgb(255, 115, 0);
}

.topFooter img {
  width: 200px;
}

.topFooter h6 {
  font-family: 'Nunito', sans-serif;
  width: 80%;
  line-height: 30px;
}

.footerLogo {
  position: relative;
  bottom: 30px;
}

.topFooter input {
  padding: 20px 120px 10px 10px;
  border-radius: 12px;
  border: 1px solid gray;
  -webkit-box-shadow: 0px 36px 41px -19px rgba(0,0,0,0.67); 
box-shadow: 0px 36px 41px -19px rgba(24, 25, 90, 0.67);
}

::placeholder {
 color: black;
 font-family: 'nunito';
 position: relative;
 bottom: 5px;
 font-size: 14px;
}


.bottomFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 70px;
  align-items: center;
  border-top: 1px solid rgb(212, 212, 212);
}

.bottomFooter h6 {
  font-family: 'quicksand';
  font-size: 18px;
}

.bottomFooter h6 span {
  font-size: 14.5px;
}

.fa-brands {
  font-size: 34px;
  color: rgb(255, 111, 0);
  padding: 0 20px;
}

}